.content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: rgba(0, 71, 0, 0.5);
  transition: background 300ms linear;
}

.content:hover {
  background: rgba(0, 71, 0, 0.25);
}